<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jawabdulu.app">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LockedActivity"/>
        <activity android:name=".ui.activity.WinActivity" />
        <activity android:name=".ui.activity.QuizActivity" />
        <activity android:name=".ui.activity.SplashJawabDuluActivity" />
        <activity android:name=".ui.activity.VerifikasiOTPActivity" />
        <activity android:name=".ui.activity.DataOrangTuaActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.IntroSliderActivity"
            android:label="My Custom AppIntro" />
        <activity android:name=".ui.activity.AppsActivity" />
        <activity android:name=".ui.activity.PasscodeActivity" />
        <activity android:name=".ui.activity.DataAnakActivity" />
        <activity android:name=".ui.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".servicejava.BackgroundService"
            android:enabled="true" />

        <receiver android:name=".servicejava.RestartService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>